# Environment files
.env

# Dependency folders
node_modules

# Build artifacts
/build
/public/build

# Netlify specifics
.netlify
/public/_redirects

# Cache files
/.cache

# Tailwindcss
app/ui/styles/tailwind.css

